body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}
.container{
    width: 100%;
    margin:50px auto;
    padding: 40px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.content{
    display: flex;
    gap: 50px;
}
.card{
    width: 50%;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
}
.card h3{
    margin-top: 0;
}
.card span{
    color: blue;
    font-size: 15px;
}
.text{
    width: 60%;
}
.text p{
    line-height: 1.5    ;
}