main {
  flex: 1;
  display: flex;    
  flex-direction: column;
}
body{
    display: flex;
    flex-direction:column ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    left: 0;
    right: 0;
}
#page-logo a{
    color: yellow;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color:yellow;
}
footer ul{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
    margin: 0;
}
footer li{
    margin: 0px 20px;
}
footer img{
    width: 40px;
}